@import "tailwindcss";

/* Base Styles */

@layer base {
  * {
    box-sizing: border-box;
    font-family: var(--font-inter), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}

@theme {
  /* Bg Colors */
  --color-bg-surface-primary: #FFFFFF;
  --color-bg-surface-secondary: #F7FAFC;
  --color-bg-primary-blue: #1E52DC;
  --color-bg-primary-soft: #E1E8FF;
  --color-bg-default-primary: #4C6FFF;
  --color-bg-default-success: #66CB9F;
  --color-bg-default-danger: #F16063;
  --color-bg-default-tertiary: #FF92AE;
  --color-bg-default-info: #68DBF2;
  --color-bg-default-warning: #F7936F;

  --color-bg-default-success-soft: #DEFFEE;
  --color-bg-default-danger-soft: #FFE6E4;

  --color-bg-table-head: #FAFAFB;

  --color-bg-default-white: #FFFFFF;
  --color-bg-gray-100: #F7FAFC;

  /* Text Colors */
  --color-text-body-light: #425466;
  --color-text-primary-blue: #1E52DC;
  --color-text-heading-dark: #1E52DC;
  --color-text-default-white: #FFFFFF;
  --color-text-default-dark: #16192C;

  --color-text-primary-cetacean-blue: #030733;
  --color-text-primary-red: #F32448;

  --color-text-table-head: #8492A6;
  --color-text-table-body-strong: #425466;
  --color-text-table-body-light: #425466;
  --color-text-body-muted: #7A7A9D;

  --color-text-input-placeholder-default: #B5B5BD;

  --color-text-natural-gray-2: #343434;


  /* Border Colors */
  --color-border-light: #EDF2F7;
  --color-border-primary-blue: #1E52DC;
}